hedera:
  mirror:
    downloader:
      bucketName: "{{bucket_name}}"
      cloudProvider: "{{cloud_provider}}"
      accessKey: "{{client_id}}"
      secretKey: "{{private_key}}"
    network: "{{network}}"
    topicRunningHashV2AddedTimestamp: "{{topic}}"