hedera:
  mirror:
    importer:
      downloader:
        bucketName: "{{bucket_name}}"
        cloudProvider: "{{cloud_provider}}"
        accessKey: "{{access_key}}"
        secretKey: "{{secret_key}}"
        gcpProjectId: "{{project_id}}"
      network: "{{network}}"
      topicRunningHashV2AddedTimestamp: "{{topic}}"